# Node.js
node_modules/
npm-debug.log
yarn-debug.log
yarn-error.log

# Ambiente


# Diretórios de build
/src/frontend/build
/src/frontend/dist

# Logs
logs
*.log

# Editor
.vscode/
.idea/
*.swp
*.swo

# Sistema operacional
.DS_Store
Thumbs.db
